.cart-container {
    height: 90vh;
    margin-top: 100px;
}

.cart-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}
.cart-title li:nth-child(2) {
    width: 10%;
}
.cart-title li:nth-child(1) {
   width: 8%;
}
.cart-details hr {
    margin-top: 10px;
    border: 1px solid #bababa;
}
button {
    cursor: pointer;
}
.cart-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 200px;
    margin-top: 80px;
}

.cart-total {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-promo,
.cart-total {
    width: 50%;
}

.cart-promo p {
    color: #444;
}

.sub-total,
.delivery-fee,
.total-amount {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #444;
}

.total-amount {
    color: var(--accent-color);
    font-weight: 600;

}

hr {
    color: #e2e2e2;
}

.checkout-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: center;
}
.checkout-button:hover {
    background-color: rgb(235, 83, 56);
} 
.promo-code-section {
    display: flex;
    margin-top: 10px;
}

.promo-code-section input {
    background-color: #eeeeee;
    border: none;
}

.promo-button {
    background-color: rgb(45, 45, 45);
    color: white;
    padding-inline: 40px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
.promo-button:hover {
    background-color: black;
}

.cart-item-list {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-block: 10px;
}
#menu-list-image {
    height: 50px;
    width: 50px;
}